@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --text: black;
    --background: white;
    /* --primary: #433BFF; */
    --primary: #5550da;
    --secondary: #ACB3FF;
    --accent: #2788CE;
}

html {
    overflow-y: hidden;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;

    /* background-color: var(--background); */
    background-image: url('/bg-tile.png');
    background-attachment: fixed;
    color: var(--text);
}

/* hide nextjs errors overlay */
nextjs-portal {
    display: none;
}