.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
}
.center{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    background-color: var(--background);
    padding: 0 1em;
    box-shadow: 0 0 40px 10px var(--background);
}
.footer{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}